*.swp
*#
.DS_Store
*.pptx
.Rproj.user
*Rproj
*.pdf
*.html
old/
*.gz
*.xml
*.tgz
ATAC-seq/
chip-bigwig/
ChIP-seq_course_student_accounts/
Advanced_course*/
2018/
macs2/
fastqc/
site/
*.epub
mydocs.pd
*.odp